#equipment1,
#equipment2,
#equipment3,
#equipment4 {
    background-size: cover;
    background-position: center;
    background-image: url(../images/equipment-Bg.svg);
    background-attachment: fixed;
}

main {
    overflow-x: hidden;
}

/* 最裡層 */
.title1 {
    width: 160px;
    height: 40px;
    margin: 586px 0px -583px 190px
}

.people-ski {
    width: 200px;
    height: 615px;
    margin: 0 0 0 379px;
}

.people-sb {
    width: 340px;
    height: 610px;
    margin: -32% 0px 0px 567px
}

.e-inside {
    display: flex;
    flex-direction: column;

}

.inside {
    background-color: white;
    width: 504px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 30px;
    /* margin: -30% 0px 0px 880px */
}

.inside h4,
.inside p {
    margin: 16px 14px 0 14px;
}

.inside h4 {
    font-family: GenSenRounded-B;
    padding: 16px 0 0 0;
}

.inside p {
    margin: 14px 0px 0px 16px
}

.socks {
    background-color: white;
    width: 400px;
    height: 78px;
    border-radius: 20px;
    /* margin: 8% 0px 0px 880px */
}

.socks h4 {
    font-family: GenSenRounded-B;
    padding: 16px 0 0 14px;
}

.socks .p2 {
    margin: 14px 0px 0px 16px
}










/* 外套 */
#equipment2>.title2 {
    width: 160px;
    height: 40px;
    /* margin: 586px 0px -583px 190px */
}

/* .title2>.people-ski {
    width: 200px;
    height: 615px;
    margin: 0 0 0 379px;
}

.title2>.people-sb {
    width: 200px;
    height: 610px;
    margin: -32% 0px 0px 609px
} */

.outer {
    background-color: white;
    width: 504px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 30px;
    /* margin: -30% 0px 0px 880px */
}

.outer h4,
.outer p {
    margin: 16px 14px 0 14px;
}

.outer h4 {
    font-family: GenSenRounded-B;
    padding: 16px 0 0 0;
}

.inside p {
    margin: 14px 0px 0px 16px
}

/* bottom */
.bottom {
    background-color: white;
    width: 504px;
    height: 120px;
    border-radius: 20px;
    /* margin: 140px 0px 0px 880px */
}

.bottom h4,
.bottom p {
    margin: 16px 14px 0 14px;
}

.bottom h4 {
    font-family: GenSenRounded-B;
    padding: 16px 0 0 0;
}

.bottom p {
    margin: 14px 0px 0px 16px
}






/* 配件 */
.title3 {
    width: 160px;
    height: 40px;
    margin: 586px 0px -583px 190px
}

/* helmet */
.helmet {
    background-color: white;
    width: 504px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 30px;
    /* margin: -700px 0px 0px 880px */
}

.helmet h4,
.helmet p {
    margin: 16px 14px 0 14px;
}

.helmet h4 {
    padding: 16px 0 0 0;
}

.helmet p {
    margin: 14px 0px 0px 16px
}

/* goggles */
.goggles {
    background-color: white;
    width: 504px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 30px;
    /* margin: 60px 0px 0px 880px */
}

.goggles h4,
.goggles p {
    margin: 16px 14px 0 14px;
}

.goggles h4 {
    padding: 16px 0 0 0;
}

.goggles p {
    margin: 14px 0px 0px 16px
}

/* boots */
.boots {
    background-color: white;
    width: 504px;
    height: 278px;
    border-radius: 20px;
    /* margin: 60px 0px 0px 880px */
}

.boots h4,
.boots p {
    margin: 16px 14px 0 14px;
}

.boots h4 {
    padding: 16px 0 0 0;
}

.boots p {
    margin: 14px 0px 0px 16px
}

/* gloves */
.gloves {
    background-color: white;
    width: 250px;
    height: 110px;
    border-radius: 20px;
    margin: -258px 0px 0px 13px;
}

.gloves h4,
.gloves p {
    margin: 16px 14px 0 14px;
}

.gloves h4 {
    padding: 16px 0 0 0;
}

.gloves p {
    margin: 14px 0px 0px 16px
}








/* 雪具  */
#equipment4>.title4 {
    width: 160px;
    height: 40px;
    margin: 70px 0px 0px -10px
}

/* .title2>.people-ski {
    width: 200px;
    height: 615px;
    margin: 0 0 0 379px;
}

.title2>.people-sb {
    width: 200px;
    height: 610px;
    margin: -32% 0px 0px 609px
} */


/* ski1 */
.ski1 {
    background-color: white;
    width: 425px;
    height: 136px;
    border-radius: 20px;
    margin-bottom: 30px;
    /* margin: -160px 0px 0px 20px */
}

.ski1 h4,
.ski1 p {
    margin: 16px 14px 0 14px;
}

.ski1 h4 {
    padding: 16px 0 0 0;
}

.ski1 p {
    margin: 14px 0px 0px 16px
}

/* ski2 */
/* .people-ski2 {
    width: 340px;
    height: 615px;
    
    margin-left: 15px;
} */

.ski2 {
    background-color: white;
    width: 504px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 30px;
    /* margin: 140px 0px 0px 880px */
}

.ski2 h4,
.ski2 p {
    margin: 16px 14px 0 14px;
}

.ski2 h4 {
    padding: 16px 0 0 0;
}

.ski2 p {
    margin: 14px 0px 0px 16px
}


/* sb */
.e-sb {
    background-color: white;
    width: 504px;
    height: 120px;
    border-radius: 20px;
    /* margin: -395px 0px 0px 880px */
}

.e-sb h4,
.e-sbp {
    margin: 16px 14px 0 14px;
}

.e-sb h4 {
    padding: 16px 0 0 0;
}

.e-sb p {
    margin: 14px 0px 0px 16px
}

.e-tools {
    display: flex;
    flex-direction: column;
    margin: -570px 0 0 645px;
}



@media(min-width: 1201px) {

    /* p1 */
    .title1 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 70px;
    }

    .people-ski {
        width: 200px;
        height: 615px;
        margin-left: 230px;
    }

    .people-sb {
        width: 340px;
        height: 610px;
        margin: -525px 0px 0px 354px;
    }

    .e-inside {
        display: flex;
        flex-direction: column;
        margin: -422px 0 0 648px;
    }

    /* p2 */
    .title2 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 70px;
    }

    .people-ski {
        width: 200px;
        height: 615px;
        margin-left: 230px;
    }

    .people-sb {
        width: 340px;
        height: 610px;
        margin: -525px 0px 0px 354px;
    }

    .e-outer {
        display: flex;
        flex-direction: column;
        margin: -422px 0 0 648px;
    }

    /* p3 */
    .title3 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 70px;
    }

    .people-ski {
        width: 200px;
        height: 615px;
        margin-left: 230px;
    }

    .people-sb {
        width: 340px;
        height: 610px;
        margin: -525px 0px 0px 354px;
    }

    .e-acc {
        display: flex;
        flex-direction: column;
        margin: -680px 0 0 648px;
    }

    /* p4 */
    .title4 {
        width: 160px;
        height: 40px;
        margin: 130px 0px 0px -10px;
    }

    .people-ski2 {
        width: 320px;
        /* height: 615px; */
        margin-left: 50px;
    }

    .people-sb2 {
        width: 340px;
        height: 610px;
        margin: -529px 0px 0px 380px;
    }


    .e-tools {
        display: flex;
        flex-direction: column;
        margin: -570px 0 0 645px;
    }


}

@media(max-width: 1200px) {

    /* p1 */
    .title1 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 70px;
    }

    .people-ski {
        width: 200px;
        height: 615px;
        margin-left: 230px;
    }

    .people-sb {
        width: 340px;
        height: 610px;
        margin: -525px 0px 0px 354px;
    }

    .e-inside {
        display: flex;
        flex-direction: column;
        margin: -422px 0 0 648px;
    }

    /* p2 */
    .title2 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 70px;
    }

    .people-ski {
        width: 200px;
        height: 615px;
        margin-left: 230px;
    }

    .people-sb {
        width: 340px;
        height: 610px;
        margin: -525px 0px 0px 354px;
    }

    .e-outer {
        display: flex;
        flex-direction: column;
        margin: -422px 0 0 648px;
    }

    /* p3 */
    .title3 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 70px;
    }

    .people-ski {
        width: 200px;
        height: 615px;
        margin-left: 230px;
    }

    .people-sb {
        width: 340px;
        height: 610px;
        margin: -525px 0px 0px 354px;
    }

    .e-acc {
        display: flex;
        flex-direction: column;
        margin: -680px 0 0 648px;
    }

    /* p4 */
    .title3 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 70px;
    }

    .people-ski2 {
        width: 320px;
        /* height: 615px; */
        margin-left: 50px;
    }

    .people-sb2 {
        width: 340px;
        height: 610px;
        margin: -529px 0px 0px 380px;
    }





}


@media(max-width:640px) {

    .e-inside {
        position: absolute;
        margin-left: 53px;
        top: 600px;
    }

    .people-ski {
        position: absolute;
        width: 95px;
        height: 300px;
        margin: 451px 0 0 282px;
        bottom: auto;
        right: 215px;
        z-index: 999;
    }

    .people-sb {
        position: absolute;
        width: 83px;
        height: 300px;
        margin-top: 460px;
        bottom: auto;
        right: 117px;
        z-index: 999;
    }

    /* p2 */
    .e-outer {
        position: relative;
        margin: -604px 0 0 45px;
    }

    /* p3 */
    .page3-box {
        position: relative;
        height: auto;
    }

    .title3 {
        position: absolute;
        left: -54px;
        top: 183px;
    }

    .e-acc {
        position: relative;
        margin: -34px 0 0 47px;
    }

    .gloves {
        margin: 16px 0px 0px 46px;
    }


    /* p4 */
    .title4 {
        position: absolute;
        z-index: 999;
        /* width: 160px; */
        /* height: 40px; */
        /* margin: 528px 0px -583px 70px !important; */
        margin-top: 706px !important;
    }

    .people-ski2 {
        position: absolute;
        /* bottom: auto; */
        z-index: 999;
        /* left: 122px; */
        margin-top: 497px;
        width: 169px;
    }

    .people-sb2 {
        position: absolute;
        z-index: 999;
        width: 170px;
        height: 300px;
        /* margin: 442px 0px 0px 402px; */
        bottom: -2600px;
        right: 206px;

    }

    .e-tools {
        position: absolute;
        display: flex;
        flex-direction: column;
        /* margin-top: 48px; */
        margin: -61px 0 0 38px;
        /* right: 89px; */
        /* bottom: auto !important; */

    }

    .page3-box {
        height: auto;
    }


}


/* @media(min-width:1200px) {

    
    .title1 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 190px
    }

    .people-ski {
        width: 200px;
        height: 615px;
        margin: 0 0 0 379px;
    }

    .people-sb {
        width: 340px;
        height: 610px;
        margin: -32% 0px 0px 567px
    }

    .inside {
        background-color: white;
        width: 504px;
        height: 120px;
        border-radius: 20px;
        margin: -30% 0px 0px 880px
    }

    .inside h4,
    .inside p {
        margin: 16px 14px 0 14px;
    }

    .inside h4 {
        font-family: GenSenRounded-B;
        padding: 16px 0 0 0;
    }

    .inside p {
        margin: 14px 0px 0px 16px
    }

    .socks {
        background-color: white;
        width: 400px;
        height: 78px;
        border-radius: 20px;
        margin: 8% 0px 0px 880px
    }

    .socks h4 {
        font-family: GenSenRounded-B;
        padding: 16px 0 0 14px;
    }

    .socks .p2 {
        margin: 14px 0px 0px 16px
    }

    
    #equipment2>.title2 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 190px
    }

    .outer {
        background-color: white;
        width: 504px;
        height: 120px;
        border-radius: 20px;
        margin: -30% 0px 0px 880px
    }

    .outer h4,
    .outer p {
        margin: 16px 14px 0 14px;
    }

    .outer h4 {
        font-family: GenSenRounded-B;
        padding: 16px 0 0 0;
    }

    .inside p {
        margin: 14px 0px 0px 16px
    }

    
    .bottom {
        background-color: white;
        width: 504px;
        height: 120px;
        border-radius: 20px;
        margin: 140px 0px 0px 880px
    }

    .bottom h4,
    .bottom p {
        margin: 16px 14px 0 14px;
    }

    .bottom h4 {
        font-family: GenSenRounded-B;
        padding: 16px 0 0 0;
    }

    .bottom p {
        margin: 14px 0px 0px 16px
    }


    
    .title3 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 190px
    }

    
    .helmet {
        background-color: white;
        width: 504px;
        height: 120px;
        border-radius: 20px;
        margin: -700px 0px 0px 880px
    }

    .helmet h4,
    .helmet p {
        margin: 16px 14px 0 14px;
    }

    .helmet h4 {
        padding: 16px 0 0 0;
    }

    .helmet p {
        margin: 14px 0px 0px 16px
    }

 
    .goggles {
        background-color: white;
        width: 504px;
        height: 120px;
        border-radius: 20px;
        margin: 60px 0px 0px 880px
    }

    .goggles h4,
    .goggles p {
        margin: 16px 14px 0 14px;
    }

    .goggles h4 {
        padding: 16px 0 0 0;
    }

    .goggles p {
        margin: 14px 0px 0px 16px
    }

   
    .boots {
        background-color: white;
        width: 504px;
        height: 254px;
        border-radius: 20px;
        margin: 60px 0px 0px 880px
    }

    .boots h4,
    .boots p {
        margin: 16px 14px 0 14px;
    }

    .boots h4 {
        padding: 16px 0 0 0;
    }

    .boots p {
        margin: 14px 0px 0px 16px
    }

    
    .gloves {
        background-color: white;
        width: 250px;
        height: 110px;
        border-radius: 20px;
        margin: -25% 0px 0px 67px;
    }

    .gloves h4,
    .gloves p {
        margin: 16px 14px 0 14px;
    }

    .gloves h4 {
        padding: 16px 0 0 0;
    }

    .gloves p {
        margin: 14px 0px 0px 16px
    }

    
    #equipment4>.title4 {
        width: 160px;
        height: 40px;
        margin: 586px 0px -583px 190px
    }


    .ski1 {
        background-color: white;
        width: 425px;
        height: 136px;
        border-radius: 20px;
        margin: -40% 0px 0px 20px
    }

    .ski1 h4,
    .ski1 p {
        margin: 16px 14px 0 14px;
    }

    .ski1 h4 {
        padding: 16px 0 0 0;
    }

    .ski1 p {
        margin: 14px 0px 0px 16px
    }

    
    .people-ski2 {
        width: 340px;
        height: 615px;
        margin: 0 0 0 222px;
    }

    .ski2 {
        background-color: white;
        width: 504px;
        height: 120px;
        border-radius: 20px;
        margin: 140px 0px 0px 880px
    }

    .ski2 h4,
    .ski2 p {
        margin: 16px 14px 0 14px;
    }

    .ski2 h4 {
        padding: 16px 0 0 0;
    }

    .ski2 p {
        margin: 14px 0px 0px 16px
    }


  
    .e-sb {
        background-color: white;
        width: 504px;
        height: 120px;
        border-radius: 20px;
        margin: -395px 0px 0px 880px
    }

    .e-sb h4,
    .e-sb p {
        margin: 16px 14px 0 14px;
    }

    .e-sb h4 {
        padding: 16px 0 0 0;
    }

    .e-sb p {
        margin: 14px 0px 0px 16px
    }
} */