/* HomePage.css */
/* .snowfall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
} */
/* .snowfall {
    position: absolute;
} */



#index {
    /* position: relative; */
    background-size: cover;
    background-position: center;
    background-image: url(../images/index_bg.jpg);
    background-attachment: fixed;
    overflow-y: hidden;

}

.btn1 {
    /* position: relative; */
    position: absolute;
    width: 615px;
    bottom: 0;
    /* height: 458px; */
    /* margin: 380px 0 0 0px */
    /* margin-top: 530px; */
    /* bottom: 0; */
}

.btn2 {
    position: absolute;
    bottom: 0;
    left: 60%;
    /* width: 110px;
    height: 160px;
    margin: -15% 0 0 55%;
 */
}

.btn3 {
    position: absolute;
    right: 330px;
    bottom: 400px;
    width: 297px;
    height: 396px;
    /* margin: -720px 0 0 690px; */
    z-index: 997;

}

.btn4 {
    position: absolute;
    bottom: 0;
    right: 60px;
    /* width: 320px; */
    /* height: 360px; */
    /* margin: -30px 0 0 1270px; */
}

/* 文字懸浮 */
section a {
    position: relative;
}

/* textBtn1 */
section .textBtn1 {
    position: absolute;
    z-index: 999;
    width: 300px;
    height: 200px;
    /* font-size: 44px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: .35s;
    /* opacity: 0; */
    margin-left: 50px;
    margin-top: 200px;
}

section .textBtn1:hover {
    opacity: 1;
}

/* textBtn2 */
section .textBtn2 {
    position: absolute;
    z-index: 999;
    width: 160px;
    /* height: 200px; */
    transition: .35s;
    /* opacity: 0; */

}

section .textBtn2:hover {
    opacity: 1;
}

/* textBtn3 */
section .textBtn3 {
    position: absolute;
    z-index: 999;
    width: 200px;
    height: 200px;
    transition: .35s;
    /* opacity: 0; */
    margin-top: 100px;

}

section .textBtn3:hover {
    opacity: 1;
}

/* textBtn4 */
section .textBtn4 {
    position: absolute;
    z-index: 999;
    width: 160px;
    height: 200px;
    transition: .35s;
    /* opacity: 0; */
    /* margin-left: 100px; */

}

section .textBtn4:hover {
    opacity: 1;
}


/* 放大 */
.btn1,
.btn2,
.btn3,
.btn4 {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
    transform: scale(1.1);
}

.btn1:active,
.btn2:active,
.btn3:active,
.btn4:active {
    transform: scale(0.9);
}

/* .btn1:hover::before {
    position: absolute;
} */

/* @media (max-width: 1200px) and (min-width: 1921px) {
    .btn4 {
        margin: -30px 0 0 1350px;
    }
} */
@media(max-width:1440px) {

    section .textBtn1,
    section .textBtn2,
    section .textBtn3,
    section .textBtn4 {
        opacity: .5;
    }

    .btn4 {
        position: absolute;
        bottom: 153px;
        width: 248px;
    }
}

@media(man-width:1200px) {

    section .textBtn1,
    section .textBtn2,
    section .textBtn3,
    section .textBtn4 {
        opacity: .5;
    }

    .btn1 {
        position: absolute;
        bottom: 0;
    }

    .btn2 {
        position: absolute;
        bottom: 0;
        left: 668px;
    }

    .btn3 {
        position: absolute;
        top: 100px;
        right: 283px;
    }

    .btn4 {
        position: absolute;
        bottom: 0;
        /* margin: -30px 0 0 865px; */
    }
}

/* @media(mix-width:1201px) {
    .btn1 {
        position: absolute;
        bottom: 0;
    }
} */

@media(max-width:640px) {
    .btn1 {
        position: absolute;
        width: 316px;
        top: 613px;
        /* top: 156px; */
        /* height: 458px; */
    }

    .btn2 {
        width: 110px;
        height: 160px;
        /* margin: -225px 0 0 65%; */
    }

    .btn3 {
        position: absolute;
        top: 100px;
        left: 167px;
        width: 180px;
        height: 379px;
        /* margin: -720px 0 0 300px; */
        z-index: 997;

    }

    .btn4 {
        position: absolute;
        width: 150px;
        bottom: 20%;
        right: 0;
        /* height: 360px; */
        /* margin: 100px 0 0 8px; */
    }

    section .textBtn1 {
        position: absolute;
        /* z-index: 999; */
        width: 184px;
        bottom: 0;
        /* height: 200px; */
        /* transition: .35s; */
        /* margin-left: 139px; */
        /* margin-top: 85px; */
    }

    section .textBtn2 {
        position: absolute;
        z-index: 999;
        width: 125px;
        top: 87px;
        /* height: 200px; */
        transition: .35s;


    }

    section .textBtn3 {
        position: absolute;
        z-index: 999;
        width: 200px;
        height: 200px;
        transition: .35s;
        margin-top: 100px;

    }

    section .textBtn4 {
        /* position: absolute; */
        z-index: 999;
        width: 84px;
        /* height: 200px; */
        transition: .35s;
        top: -4px;
    }
}