.App {
    height: 100vh;
    overflow-y: scroll;
}

h3 {
    font-family: GenSenRounded-B;
}

p {
    font-family: GenSenRounded-M;
}


/* page1 */
.title {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 255px;
}

#intro1 .title img {
    width: 160px;
}

#intro1 .title-intro img {
    width: 300px;
    height: 200px;
    margin: -80px 0 0 55%;
}

.Mountain {
    position: relative;
    width: 575px;
    margin: 100px 0 0 600px;
}

.p {
    font-family: GenSenRounded-M;
    font-size: 16px;
    line-height: 1.5;

}



.p1 {
    position: absolute;
    margin: 65px 0 0 -352px;
}




/* @media screen and (min-width: 640px) and (max-width: 1200px) {
    .title {
        display: flex;
        flex-direction: column;
        margin: 100px 0 0 65px;
    }

    .title-intro {
        margin-bottom: 20px;
    }

    .p1 {
        margin: 65px 0 0 -245px;
    }
} */



/* page2 */
.page2-title2 {
    font-family: GenSenRounded-B;
    font-size: 40px;
    color: #A5D6E6;
    margin-left: 335px;
    bottom: 500px;
    position: absolute;
    z-index: 999;

}

.intro-box {
    margin-left: 120px;
}

.page2-title1 {
    font-family: GenSenRounded-B;
    display: inline-block;
    font-size: 40px;
    color: #A5D6E6;

}

.text2 {
    font-family: GenSenRounded-B;
    color: #F8F398;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10), 6px 3px 7px rgba(0, 0, 0, 0.09), 13px 7px 9px rgba(0, 0, 0, 0.05), 24px 13px 11px rgba(0, 0, 0, 0.01), 37px 20px 12px rgba(0, 0, 0, 0.00);
    font-size: 64px;
    z-index: 999;
    position: absolute;
    margin-top: 217px;
    margin-left: -100px;

}

.text1 {
    font-family: GenSenRounded-B;
    color: #F8F398;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10), 6px 3px 7px rgba(0, 0, 0, 0.09), 13px 7px 9px rgba(0, 0, 0, 0.05), 24px 13px 11px rgba(0, 0, 0, 0.01), 37px 20px 12px rgba(0, 0, 0, 0.00);
    font-size: 64px;
    z-index: 999;
    position: absolute;
    right: 10px;
    top: 100px;
}

.intro-pic {
    display: flex;
    justify-content: space-evenly;
}

.intro-ski {
    width: 420px;
    height: 500px;
    background-position: center center;
    object-fit: cover;
    position: relative;
}

.intro-sb {
    width: 420px;
    height: 500px;
    background-position: center center;
    object-fit: cover;
    position: relative;
}




/* page3 */
#level {
    position: relative;
    background-size: cover;
    background-image: url(../images/level-bg.jpg);
    background-position: center;
    background-attachment: fixed;
}

.level-intro,
.level-intro2,
.level-intro3 {
    color: #5265c4;
}

.level-intro {
    position: absolute;
    top: 102px;
    right: 123px;
}

.level-intro2 {
    position: absolute;
    top: 358px;
    right: 389px;
}

.level-intro3 {
    position: absolute;
    bottom: 100px;
}

.pic-title1 {
    position: absolute;
    bottom: 182px;
    right: 123px;
    display: flex;
    flex-direction: row;
    margin: 100px 0 0 300px;
    align-items: end;
}

.intro-title1 {
    display: block;
    width: 194px;
    text-align: end;
    margin-right: 20px;
}

.intro-title1-2 {
    display: block;
    width: 160px;
}

.level-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.g1,
.r1,
.b1 {
    position: absolute;
    width: 36px;
    opacity: .5;
    left: -50px;
}

/* page4 */
#level2 {
    position: relative;
    background-size: cover;
    background-image: url(../images/europe-level-bg.jpg);
    background-position: center;
    background-attachment: fixed;
}

.level2-intro1,
.level2-intro2,
.level2-intro3,
.level2-intro4,
.level2-intro5 {
    padding-bottom: 15px;
    color: white;
}

.pic-title2 {
    display: flex;
    flex-direction: row;
    margin: 100px 0 0 300px;
    align-items: end;
    margin-right: 20px;
}

.intro-text {
    position: absolute;
    right: 36px;
    bottom: 28px;
}


.intro-title2 {
    display: block;
    width: 194px;
    text-align: end;
    margin-right: 20px;
}

.title2-1 {
    display: block;
    width: 160px;
}

.g2,
.b2,
.r2,
.bl2,
.db2 {
    position: absolute;
    left: -62px;
    width: 36px;
    padding-bottom: 18px;
    opacity: .5;
}

@media(max-width:1920px) {
    .pic-title1 {
        right: 300px;
    }
}

@media(min-width: 1201px) {
    .level-intro3 {
        margin-left: 288px;
    }
}

@media(max-width: 1200px) {

    /* p1 */
    .title {
        display: flex;
        flex-direction: column;
        margin: 180px 0 0 90px;
    }

    #intro1 .title-intro img {
        width: 300px;
        height: 200px;
        margin: -80px 0 0 40%;
    }

    .Mountain {
        margin: 58px 0 0 441px;
    }

    .p1-1 {
        margin-bottom: 20px;
    }

    /* p2 */
    .intro-box {
        margin-left: 80px;
        margin-top: 100px;
    }

    .intro-pic {
        display: flex;
        justify-content: space-evenly;
        margin-top: 70px;
    }

    .page2-title2 {
        font-family: GenSenRounded-B;
        font-size: 40px;
        color: #A5D6E6;
        margin-left: 320px;
        bottom: 500px;
        position: absolute;
        z-index: 999;

    }

    /* p3 */
    .pic-title1 {
        display: flex;
        flex-direction: row;
        margin: 180px 0 0 65px;
        align-items: end;
    }

    .level-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-left: -45px;
    }

    .level-intro3 {
        margin-left: 192px;
    }

    /* p4 */
    .intro-text {
        margin-left: 105px;
    }
}

@media(max-width:640px) {

    /* p1 */
    .title {
        display: flex;
        flex-direction: column;
        margin: 100px 0 0 65px;
    }

    .title-intro {
        margin-bottom: 20px;
    }

    .p1 {
        margin: 65px 0 0 -245px;
    }

    .Mountain {
        margin-left: 263px;
        width: 375px;
    }

    /* p2 */
    .page2-title2 {
        margin-left: 230px;
    }

    /* p3 */
    .level-text {
        margin-left: 24px;
    }

    /* p4 */
    .level-intro2 {
        right: 40px;
    }
}

@media(max-width:390px) {
    .level-intro {
        right: 0;
    }

    .pic-title1 {
        position: absolute;
        bottom: 182px;
        right: 160px;
        display: flex;
        flex-direction: column;
        opacity: .7;
    }

    .pic-title2 {
        margin: 53px 0 0 70px;
    }
}