/* page1 */
#intro1 .title img {
    width: 160px;
    height: 40px;
    margin: 0 0 20px 190px;
}

#intro1 .title-intro img {
    width: 300px;
    height: 200px;
    margin: -80px 0 0 55%;
}

#intro1 .title-intro {
    margin: -80px 0 0 190px;
}


/* . intro-text{
    width: 30%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out; */



.p1 {
    font-family: GenSenRounded-M;
    font-size: 16px;
    margin: 170px 0 0 100px;
    line-height: 1.5;
    /* width: 30%;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out; */
}



.p2 {
    font-family: GenSenRounded-M;
    font-size: 16px;
    margin: 80px 0 0 200px;
    line-height: 1.5;
}

#intro2 .title1 {
    font-family: GenSenRounded-B;
    display: inline-block;
    font-size: 40px;
    color: #A5D6E6;
    margin: 0px 0px 305px 194px
}

#intro2 .title2 {
    font-family: GenSenRounded-B;
    position: absolute;
    font-size: 40px;
    color: #A5D6E6;
    margin: -207px 0 20px 1290px
}

#intro2 .p3 {
    font-family: GenSenRounded-M;
    margin-top: 100px;
    /*原140px*/
    margin-left: 200px;
    margin-bottom: 40px;
    line-height: 1.5;
}

#intro2 .text1 {
    font-family: GenSenRounded-B;
    position: absolute;
    color: #F8F398;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10), 6px 3px 7px rgba(0, 0, 0, 0.09), 13px 7px 9px rgba(0, 0, 0, 0.05), 24px 13px 11px rgba(0, 0, 0, 0.01), 37px 20px 12px rgba(0, 0, 0, 0.00);
    font-size: 64px;
    z-index: 998;
    margin: 340px 0 0 240px;
}

#intro2 .text2 {
    font-family: GenSenRounded-B;
    position: absolute;
    color: #F8F398;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10), 6px 3px 7px rgba(0, 0, 0, 0.09), 13px 7px 9px rgba(0, 0, 0, 0.05), 24px 13px 11px rgba(0, 0, 0, 0.01), 37px 20px 12px rgba(0, 0, 0, 0.00);
    font-size: 64px;
    z-index: 999;
    margin: 480px 0 0 425px;
}

#intro2 .ski img {
    /* position: absolute; */
    background-position: center center;
    object-fit: cover;
    width: 420px;
    height: 500px;
    margin-left: 200px;
}

#intro2 .sb img {
    background-position: right 35% bottom 10%;
    object-fit: cover;
    width: 530px;
    height: 510px;
    margin-left: 50%;
    margin: -423px 0px 0px 918px
}

/* page3 */

#level .title1 .text1 img {
    display: block;
    width: 160px;
    height: 170px;
    /* align-items: center; */
    margin: 0 0 180px 153px;
}

#level .title1 .text2 img {
    display: block;
    width: 160px;
    height: 70px;
    /* align-items: center; */
    margin: -100px 0 0 343px;
}

#level .level-intro .g1 img {
    width: 36px;
    height: 36px;
    margin: 100px 0 0 200px;
}

#level .level-intro h3,
p {
    font-family: GenSenRounded-B;
    margin: -22px 0 50px 250px;
}

.intro-jp {
    margin-left: 250px;
}

.level-intro2 {
    margin: -60px 0 0 100px
}

#level .level-intro2 .r1 img {
    width: 36px;
    height: 36px;
    margin: 100px 0 0 200px;
}

#level .level-intro2 h3,
p {
    font-family: GenSenRounded-B;
    margin: -22px 0 50px 250px;
}

.level-intro3 {
    margin: -60px 0 0 200px
}

#level .level-intro3 .b1 img {
    width: 36px;
    height: 36px;
    margin: 100px 0 0 200px;
}

#level .level-intro3 h3,
p {
    font-family: GenSenRounded-B;
    margin: -22px 0 50px 250px;
}

/* page4 */
.title2 {
    display: block;
    width: 160px;
    height: 170px;
    /* align-items: center; */
    margin: 0 0 180px 153px;

}

.title2-1 {
    display: block;
    width: 160px;
    /* height: 170px; */
    /* align-items: center; */
    margin: -259px 0 300px 358px;
}

.g2 {
    width: 36px;
    height: 36px;
    margin-left: 92px;

}

.b2 {
    width: 36px;
    height: 36px;
    margin-left: 92px;

}

.r2 {
    width: 36px;
    height: 36px;
    margin-left: 92px;

}

.bl2 {
    width: 36px;
    height: 36px;
    margin-left: 92px;

}

.db2 {
    width: 36px;
    height: 36px;
    margin-left: 92px;

}

#level h3 {
    font-family: GenSenRounded-B;
    margin-left: 10px;
}

#level2 .level2-intro5 p {
    line-height: 1.3rem;
}

h3 {
    font-family: GenSenRounded-B;
    /* margin: 0 0 5px 145px; */
    display: block;
}

.intro-text {
    margin: -195px 0 0 750px;
    line-height: 1rem;

    opacity: 0;
    transform: translateY(00px);
    transition: 0.5s all ease-in-out;
}

.intro-appear {
    opacity: 1;
    transform: translateY(0px);
}

.intro-p {
    font-family: GenSenRounded-M;
    margin-left: 100px;
}