.App {
    height: 100vh;
    overflow-y: scroll;


}

.all-checkbox {
    font-family: GenSenRounded-B;
    color: #20395C;
    position: absolute;
    top: 60px;
    /* margin-left: 52px; */
    width: 100%;
    height: 100%;

    padding: 35px;
    background-color: #BBD0EB;

}

.allinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* position: relative; */
    /* top: 120px */
    background-color: #BBD0EB;
}

.content-box {
    position: relative;
}

.areas {
    /* gap: 50px; */
    /* margin-top: 50px; */
    width: 500px;
    display: block;
    margin-bottom: 50px;


}

.areaimg {
    width: 500px;
    height: 300px;
}



.areamask {
    mask-image: url(../../images/areamask2.png);
    mask-repeat: no-repeat;
    mask-size: 100%;
    width: 500px;
    height: 300px;

    /* margin-top: -44px; */

}



.areatitle {
    font-family: GenSenRounded-B;
    color: #20395C;
    margin-left: -2px;
    font-size: 24px;
    margin-top: -10px;
}

.areacategory {
    display: inline-block;
    margin-left: 2px;

    color: #5265C4;
    border: 1px solid #5265C4;
    border-radius: 5px;
    background-color: #FEF5D4;
}

.infolist {
    color: #20395C;
    /* margin: -30px -6px 0 -251px; */
}

/* width */
::-webkit-scrollbar {
    width: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}